LLM_PROVIDER=mistral
LLM_STREAMING=true

OPENAI_API_KEY= # YOUR OPENAI API EY
OPENAI_MODEL=gpt-5.1-turbo

MISTRAL_API_KEY= # YOUR MISTRAL API KEY
MISTRAL_MODEL=mistral-medium-latest

AZURE_API_KEY= # YOUR AZURE API KEY
AZURE_BASE_URL= # YOUR AZURE BASE URL ending on ".services.ai.azure.com/openai/v1/""
AZURE_MODEL=gpt-5-mini

GEMINI_API_KEY= # YOUR GEMINI API KEY
GEMINI_MODEL=gemini-3-flash-preview

CLAUDE_API_KEY= # YOUR CLAUDE API KEY
CLAUDE_MODEL=claude-haiku-4-5-20251001

OLLAMA_MODEL=ministral-3:14b

DISCORD_TOKEN= # YOUR DISCORD TOKEN


MCP_SERVER_URLS= # YOUR MCP SERVER URLS, like "http://localhost:8001/mcp"

CHAT_SYSTEM_MESSAGE="Du bist Emanuel."
VOICE_SYSTEM_MESSAGE="Du bist Emanuel. Du bist im Discord Voice Channel. Halte dich deshalb kurz."